 body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: hsl(237, 12%, 33%);
    font-size: 13px;
}

.main {
    background: hsl(210, 46%, 95%);
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: table-cell;
    vertical-align: middle; 
}

.article {
    position: relative;
    background: white;
    margin: auto;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    max-width: 680px;
    height: 250px;
}  

.article-text p {
    line-height: 1.6;
}

.article-pic {
    background-image: url(images/drawers.jpg);
    background-size: 123%;
    background-repeat: no-repeat;
    width: 40%;
    float: left;
    margin: 0;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

.article-pic img{
    max-width: 100%;
    height: auto;
    display: block;
}

.article-info {
    width: 60%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.article-text {
    width: 336px;
}

.article-text h1 {
    font-size: 18px;
    margin-top: 0;
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.author-info{
    display: flex;
}

.author-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.author-text p{
    margin: 0;
    padding-left: 15px;
}
.author-text p:nth-child(1){
    font-weight: 700;
}

.share {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share img {
    height: 15px;
    width: 15px;
    text-align: center;
}


 .panel {
     display: none;
    background: hsl(217, 19%, 35%);
    bottom:335px;
    padding: 0 20px;
    color: hsl(212, 23%, 69%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   letter-spacing: 3px;
   border-radius: 10px;
   align-items: center;
   position: absolute;
   right: -50px;
   top: 115px;
   height: 50px;
} 

.panel::after {
    content: '';
    position: absolute;
    left: 45%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);;
    clear: both;
}

ul {
    list-style: none;
    padding-left: 5px;
    margin: 0 0 0 5px;
}

li{
    display: inline-block;
    padding: 10px 5px;
}

.panel.show {
    display: flex;
} 

.mobile  {
    background: #6E8098
} 
    
.mobile svg path {
    fill:   hsl(210, 46%, 95%);
}

/* Media Queries
--------------------------------- */

@media screen and (max-width: 991px){
    .faq {
        margin: 0 25px;
    }
}

@media screen and (max-width: 800px) {
    .panel {
        right: 25px;
    }

    .panel::after {
        left: 80%;
    }
}

@media screen and (max-width: 700px) {
    .article{
        width: 330px;
        height: 520px;
    }

    .article-pic,
    .article-info {
        width: 100%;
    }

    .article-pic {
        background-size: cover;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    } 

    .article-info{
        height: auto;
        margin-top: 30px;
    }

 
    .article-text {
        width: 100%
    }

    .article h1,
    .article p,
    .author {
        padding: 0 30px;
    }

    .article-text h1 {
        font-size: 16px;
    }

    .author {
        height: 60px;
    }
    .panel{
        right: 0;
        top: initial;
        bottom: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        padding: 0;  
        height: 70px;   
    }
    
    .panel::after {
        display: none;
    }

    .panel p {
        padding-right: 5px;

    }

    .share {
        z-index: 2;
    }
    
}
        